.footer {
    margin-top: 15px;
    background-color:white;
    left: 0px;
    right: 0px;
    color:#fff;
    text-align: center;
    width: auto;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    box-shadow: 0 -10px 20px -10px #333333;
}

.coloumns {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    overflow: hidden;
}

.link_footer {
    color:#333333;
    font-size: 14px;
}

.social-media {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    overflow: hidden;
}

.social-media img{
  height: 25px;
}

.social-media a{
    padding-right: 20px;
}

a.link_footer:link {
    text-decoration: none;
    color:#333333;
  }
  
  a.link_footer:visited {
    text-decoration: none;
  }
  
  a.link_footer:hover {
    text-decoration: underline;
  }
  
  a.link_footer:active {
    text-decoration: underline;
    color: #333333;
  }

.link_footer {
    color:#333333;
    font-size: 14px;
}
